html{vertical-align: middle;}

p{
	margin-top: 5px;
	width: 600;
}
#cont,h1{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
h3 {margin-bottom: 0px;}
th {
	padding: 10px;
	border-style:solid;
	border-width: 2px;
	font-size: 14px;
}
td{
	padding: 10px;
	border-style:solid;
	border-width: 1px;
}
img{
	width: 600px;
}