button{
	background-color: #BABABA;
	font-size: 20px;
	font-family: 'Montserrat',sans-serif;
}
#logo{
	margin-bottom: -20px;
}
body{

	background-color: #8C8C8C;
}
h1{
	margin-left: 30px;
	color: #1D1D1D;
	font-family: 'Montserrat',sans-serif;
}
h3{
	margin-left: 30px;
	color: #1D1D1D;
	font-family: 'Montserrat',sans-serif;
}
p{
	width: 530px;
	margin-left: 30px;
	margin-right: 30px;
	color: #1D1D1D;
	font-family: 'Arapey', serif;
}
#alt{
	width: 800px;
	margin: auto;
}
#hovedinnhold{
	margin: auto;
	width: 600px;
	background-color: #F3F3F3;
	padding-bottom: 35px;
	padding-top: 25px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #BABABA;
	border-width: 30px;
	border-bottom-width: 100px;
}
footer{
	font-size: 12px;
	margin-top: -50px;
	margin-left: 200px;
	color: #1D1D1D;
	font-family: 'Arapey', serif;
}
#dropdownnav{
	width: 100px;
	height: 300px;
	position: absolute;
	top:265px;
}
#morroknappdiv{
	width: 90px;
	height: 90px;
	top: 5px;
	margin-left: 134px;
	margin-top: 2px;
	position: absolute;
}
#bonusknappdiv{
	top: 0px;
	margin-left: 620px;
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 99;
}
CSS selector {
  font-family: 'Montserrat', sans-serif;
}
.knapper{
	background-color: #BABABA;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: 'Montserrat',sans-serif;
	color: #1D1D1D;
}
.dropdown-knapper{
	background-color: #DADADA;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: 'Montserrat',sans-serif;
	color: #1D1D1D;
}
.dropdownnav > ul{
	list-style: none;
}
#navi{
	text-decoration: none;
}
.dropdown-knapper:hover{
	background-color: #F3F3F3;
	cursor: pointer;
}
.knapper:hover{
	background-color: #F3F3F3;
	cursor: pointer;
}
iframe{
	margin-left: 30px;
	margin-right: 30px;
}
#prev,#next{
	width: 130px;
	font-family: 'Montserrat',sans-serif;
}
#prev{
	margin-left: 100px;
	position: absolute;
	text-decoration: underline;
}
#next{
	margin-left: 400px;
}
.kontakt{
	margin-bottom: 40px;
}
.profil{
	position: absolute;
	margin-left: 400px;
}
#moti{
	margin-left: 170px;
	width:250px;
	height:auto;
}
#foto{
	width: 550px;
	max-width: 550px;
	height: auto;
	margin-left: 25px;
}
.bilder{
	max-width: 95px;
	height: auto;
	padding: 5px;
	cursor: pointer;
}
#galleri{
	max-width: 550px;
	height: auto;
	margin-left: 25px;
}

#fram,#tilbake{
	max-width: 40px;
	height: auto;
}
#fram{
	padding-left: 450px;
}
#tilbake{
	padding-left: 100px;
	position: absolute;
}
